<h2> Hello from a partial! HTTP method is <%= http_method %></h2>

<% if @sample.errors.any? %>
  <ul class="errors">
    <% @sample.errors.each do |column, message| %>
      <li>
        <strong>
          <%= column.capitalize %>
        </strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @sample, method: http_method do |f| %>
  <%= f.label :location, "Location Location" %>
  <%= f.text_field :location %>

  <%= f.label :scientist %>
  <%= f.text_field :scientist %>

  <%= f.label :is_wet %>
  <%= f.check_box :is_wet %>

  <input type="text" name="this_is_bad" value="">

  <%= f.submit "Submit" %>
<% end %>
